@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    color: white;
    padding: 0;
    margin: 0;
      font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-style: italic;
}
body{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#01022d;
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
div{
    position: relative;
    top: 20px;
    left: 36px;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) , url(download.webp) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 640px;
    width: 95%;

}
div:hover{

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) , url(download.webp) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 640px;
    width: 95%;

}
nav{
    z-index: 1;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
ul{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.av{

    font-size: 34px;
    position: relative;
    left: 17px;
    bottom: px;
}
li{
    font-size: 18px;
    display: inline-block;
}
li:hover{
    width: 80px;
    
    font-size: 18px;
    display: inline-block;
    text-decoration :underline #01022d double;
    background-color: rgb(255, 255, 255);
    background-origin: padding-box;
    color: #01022d;
    border-radius: 10px;
 

}
header{
    width: 550px;
    display: flex;
    flex-direction: column;
   justify-content: start;
   align-items: start;
   
}
h1{
    position: relative;
    top:50px;
    left: 45px;
    font-size: 105px;
    font-weight: 900;
    animation-name: Avatar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;

    
}
@keyframes Avatar{
    0%{
      
        color: rgb(255, 238, 0);

    }
    25%{

    }
    50%{
          color: rgb(0, 255, 102);


    }
    75%{
        color: khaki;
    }

    100%{
          
        color: rgb(0, 255, 217);


    }
}
p{
    text-align: left;
    word-spacing: 4px;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    left: 45px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
}
input{
    border-color: white;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    color: #01022d;
    font-size: 18px;
    position: absolute;
    bottom: 90px;
    left: 42px;
}
input:hover{
    cursor: pointer;
    border-color: white;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 90px;
    left: 42px;
}
@media (max-width:600px){
div{
     background-image: linear-gradient(to right ,#01022ddb  30%, #00000000 ) , url(avatar.png) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0;
    width: 100%;
    height: 100vh;
}
div:hover{

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) , url(avatar.png) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
    nav{
        display: block;
    }
    .av{ font-size:35px;
    }
    ul li{
        padding: 20px;
        transition: .5s;
    }
    li:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: 20px;
    display: inline-block;
    padding-right: 35PX;
    text-decoration :underline #01022d solid;
    background-color: rgb(255, 255, 255);
    color: #01022d;
    border-radius: 50%;
}
header{
    width: 380px;
}
header h1{
    font-size: 45px;
}
header input{
    position: absolute;
    bottom: 5%;
    transition: .5s;
}
input:hover{
        cursor: pointer;
    border-color: white;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 5%;
}

}