@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    color:rgb(215, 198, 174);
    padding: 0;
    margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-style: italic;
}
html{scroll-behavior: smooth;}

body{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:#01022d;
    width: 100%;
    height: 100vh;
}
a{
    text-decoration: none;
}
.div{
    
    border-radius: 50px;
    position: relative;

    left: 36px;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) , url(download.webp) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 95%;
    transition: .5s;

}
.div:hover{
    position: relative;
    left: 0px;
    
    border-radius: 50px;

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) , url(download.webp) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
nav{
    z-index: 1;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.ul{
    transition: .5s;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.av{
    width: 150px;
    transition: .5s;
    font-size: 40px;
    position: relative;
    left: 17px;
    bottom: px;
}
.av:hover{
    width: 170px;
    border-radius: 15px;
    background-color: wheat;
    color: #000000;
}
.ul li{
    transition: .5s;
    font-size: 25px;
    display: inline-block;
}
.ul li:hover{
    width: 100px;
    font-size: 18px;
    display: inline-block;
    border-bottom:solid wheat;
    background-color:#01022d;
    background-origin: padding-box;
    color:antiquewhite;
    border-radius: 10px;
 

}
header{
    transition: .5s;
    width: 600px;
    display: flex;
    flex-direction: column;
   justify-content: start;
   align-items: start;
   
}
.h{
    position: relative;
    top:100px;
    left: 45px;
    font-size: 105px;
    font-weight: 900;
    animation-name: Avatar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;


}
@keyframes Avatar{
    0%{
      
        color: rgb(255, 238, 0);

    }
    25%{

    }
    50%{
          color: rgb(0, 255, 102);


    }
    75%{
        color: khaki;
    }

    100%{
          
        color: rgb(0, 255, 217);


    }
}

.p{display: inline;
    text-align: left;
    word-spacing: 15px;
    letter-spacing: 3px;
    position: relative;
    top: 140px;
    left: 45px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    

}

.about{
    transition: .5s;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    left: 36px;
    width: 95%;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) , url(3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
}
.about:hover{

        position: relative;
    left: 0px;
    border-radius: 50px;

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) ,   url(3.jpg); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
.about .h1{
    transition: .5s;
    font-weight: 900;
    box-shadow: 8px 8px 0 #01022d;
    border-radius: 40px;
    background-color: rgba(215, 198, 174, 0.647);
    color: #01022d;
    margin: 0 450px;
    position: absolute;
    top: 10%;
    font-size: 50px;
    opacity: 0;

}
.about:hover .h1{
    opacity: 1;
    margin: 15px 440px;
background-color: rgba(215, 198, 174, 0.938);
}
.about .div1{
    position: absolute;
    bottom: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.div1 h2{
    letter-spacing: 5px;
    word-spacing: 5px;
    width: 500px;
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
}
.div1 .p1{
    text-align: left;
    width: 900px;
    font-size: 32px;
    opacity: 0;
    transition: .5s;

}
.about:hover .p1{
    font-weight: 900;
    font-size: 32px;
    padding: 20px;
    opacity: 1;
    background-color:  rgb(215, 198, 174);
    color: #01022d;
    border-radius: 40px;
}





.photo{
     transition: .5s;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    left: 36px;
    width: 95%;
    background-image: linear-gradient(to right ,#01022ddb  30%,#08081ddb) ;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.photo:hover{

        position: relative;
    left: 0px;
    border-radius: 50px;

    background-image: linear-gradient(to right ,#08081ddb  30%,#01022ddb  );
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
.width{
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.width img{
    
    border-radius:40px ;
}
.width h2{
    position: relative;
    bottom: 40px;
}
.photo h1{
    transition: .5s;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 5%;
    font-size: 70px;
    font-weight: 900;
    margin: 40px;
}
.photo h1:hover{
    color:wheat;
    text-shadow: 5px 5px 0 rgb(255, 255, 255);
}

.photo div{
    height: 400px;
    width: 280px;
}

.photo .width img{
    height: 390px;
    width: 300px;
}
.width .char1 .img1{
    border-radius: 50px;
    height: 350px;
    transition: .5s;
    margin-bottom: 10px;
}
.img1:hover{

    cursor: grabbing;
    padding: 5px;
    box-shadow: 10px 10px 0 chocolate;
    opacity: .3;
    z-index: 11;

}
.char1 h2{
    color:  chocolate;
    font-weight: 900;
    text-shadow: 2px 2px 0 white;
}
.span1{
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom: 200px;
    font-weight: 900;
    color: chocolate;
    opacity: 0;
    transition: 1s;

}
.char1:hover .span1 {
   opacity: 1;
   z-index: 1;

}
.char1:hover .photo{
    background-image: linear-gradient(to right , black , chocolate ) ;

}
.width .char2 .img2{
    border-radius: 50px;
    height: 350px;
    transition: .5s;
    margin-bottom: 10px;
}
.img2:hover{
     cursor: grabbing;
    padding: 5px;
    box-shadow: 10px 10px 0 rgb(106, 199, 131);
     opacity: .6;

}
.span2{
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom: 200px;
    font-weight: 900;
    color: rgb(106, 199, 131);
    opacity: 0;
    transition: 1s;

}
.char2:hover .span2{
   opacity: 1;
   z-index: 1;

}
.char2 h2{
    color:  rgb(106, 199, 131);
    font-weight: 900;
    text-shadow: 2px 2px 0 white;
}
 



.width .char3 .img3{
    border-radius: 50px;
    height: 350px;
    transition: .5s;
    margin-bottom: 10px;
}
.img3:hover{
     cursor: grabbing;
    padding: 5px;
    box-shadow: 10px 10px 0 rgb(0, 119, 255);
  opacity: .6;

}
.span3{
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom: 200px;
    font-weight: 900;
    color: rgb(0, 119, 255);
    opacity: 0;
    transition: 1s;

}
.char3:hover .span3{
   opacity: 1;
   z-index: 1;

   
} 
.char3 h2{
    color:  rgb(0, 119, 255);
    font-weight: 900;
    text-shadow: 2px 2px 0 white;
}
 





.width .char4 .img4{
    border-radius: 50px;
    height: 350px;
    transition: .5s;
    margin-bottom: 10px;
}
.img4:hover{
     cursor: grabbing;
    padding: 5px;
    box-shadow: 10px 10px 0 rgb(255, 255, 255);
  opacity: .6;

}
.span4{
    display: inline-block;
    font-size: 30px;
    position: relative;
    bottom: 200px;
    font-weight: 900;
    color:  rgb(255, 255, 255);
    opacity: 0;
    transition: 1s;

}
.char4:hover .span4{
   opacity: 1;
   z-index: 1;

}


.char4 h2{
    color:  rgb(255, 255, 255);
    font-weight: 900;
    text-shadow: 2px 2px 0 rgb(111, 105, 105);
}
 






.Jake{
     transition: .5s;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    left: 36px;
    width: 95%;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) , url(45.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.Jake:hover{
    position: relative;
    left: 0px;
    border-radius: 50px;

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) ,   url(45.jpg); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.Jake h1{
    color: chocolate;
    position: absolute;
    top: 10%;
    font-size: 70px;
    font-weight: 900;
    margin: 40px;
}
.Jake p{
    color: rgb(127, 67, 50);
    position: relative;
    top:40px;
    margin: 40px;
    text-align: left;
    width: 900px;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    transition: 1s;
}
.Jake:hover p{
    opacity: 1;
    padding: 10px;
    background-color: #01022d;
    border-radius: 40px;
    box-shadow: 10px 10px 0 chocolate;

}

.Jake img{
    border-radius: 50px;
    height: 600px;
    position: absolute;
    right: 0%;
    opacity: .2;
    transition: 1.5s;
    display: inline-block;
}
.Jake:hover img{
opacity: 1;

    box-shadow: 10px 10px 0 chocolate;
}
.ney{
        transition: .5s;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    left: 36px;
    width: 95%;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) ,url(8.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.ney:hover{
        position: relative;
    left: 0px;

    border-radius: 50px;

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) ,   url(8.jpg); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.ney h1{
    color: rgb(106, 199, 131);
    position: absolute;
    top: 10%;
    font-size: 70px;
    font-weight: 900;
    margin: 40px;
}
.ney p{
    color: rgb(51, 133, 73);
    position: relative;
    top:40px;
    margin: 40px;
    text-align: left;
    width: 900px;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    transition: 1s;
}
.ney:hover p{
    opacity: 1;
    padding: 10px;
    background-color: #01022d;
    border-radius: 40px;
    box-shadow: 10px 10px 0 rgb(106, 199, 131);

}

.ney img{
    border-radius: 50px;
    height: 600px;
    position: absolute;
    right: 0%;
    opacity: .2;
    transition: 1.5s;
    display: inline-block;
}
.ney:hover img{
opacity: 1;

    box-shadow: 10px 10px 0 rgb(106, 199, 131);
}

.tsu{
        transition: .5s;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    left: 36px;
    width: 95%;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) ,url(444.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.tsu:hover{
    position: relative;
    left: 0px;
    border-radius: 50px;

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) , url(444.jpg); 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.tsu h1{
    color: rgb(0, 119, 255);
    position: absolute;
    top: 10%;
    font-size: 70px;
    font-weight: 900;
    margin: 40px;
}
.tsu p{
    color: rgb(37, 71, 109);
    position: relative;
    top:40px;
    margin: 40px;
    text-align: left;
    width: 900px;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    transition: 1s;
}
.tsu:hover p{
    opacity: 1;
    padding: 10px;
    background-color: #01022d;
    border-radius: 40px;
    box-shadow: 10px 10px 0 rgb(0, 119, 255);

}

.tsu img{
    border-radius: 50px;
    height: 600px;
    position: absolute;
    right: 0%;
    opacity: .2;
    transition: 1.5s;
    display: inline-block;
}
.tsu:hover img{
opacity: 1;

    box-shadow: 10px 10px 0 rgb(0, 119, 255);
}








.kiri{
        transition: .5s;
    border-radius: 50px;
    margin-top: 20px;
    position: relative;
    left: 36px;
    width: 95%;
    background-image: linear-gradient(to right ,#01022ddb  30%, #000000ae ) ,url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.kiri:hover{    position: relative;
    left: 0px;

    border-radius: 50px;

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) , url(2.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.kiri h1{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10%;
    font-size: 70px;
    font-weight: 900;
    margin: 40px;
}
.kiri p{
    color: rgb(134, 148, 163);
    position: relative;
    top:40px;
    margin: 40px;
    text-align: left;
    width: 900px;
    font-size: 30px;
    font-weight: 900;
    opacity: 0;
    transition: 1s;
}
.kiri:hover p{
    opacity: 1;
    padding: 10px;
    background-color: #01022d;
    border-radius: 40px;
    box-shadow: 10px 10px 0 rgb(255, 255, 255);

}

.kiri img{
    border-radius: 50px;
    height: 600px;
    position: absolute;
    right: 0%;
    opacity: .2;
    transition: 1.5s;
    display: inline-block;
}
.kiri:hover img{
opacity: 1;

    box-shadow: 10px 10px 0 rgb(255, 255, 255);
}








#footer {
  background-color:#01022d;
  text-align: center;
  color:aliceblue;
  padding: 15px 0;
  font-size: 16px;
  border-color:white ;
}
.seif:hover{
    padding: 5px;
    width: 140px;
    border-radius: 15px;
    background-color: wheat;
    color: #01022d;

}

/* <-------------------------------------------------> */
@media (max-width:600px){
.div{
     background-image: linear-gradient(to right ,#01022ddb  30%, #00000000 ) , url(avatar.png) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: absolute;
    left: 0%;
    top: 0%;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.div:hover{

    background-image: linear-gradient(to right ,#01022ddb  30%, #00000012 ) , url(avatar.png) ; 
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    width: 100%;

}
    nav{
        display: block;
    }
    .av{ font-size:35px;
    }
    ul li{
        padding: 20px;
        transition: .5s;
    }
    li:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    font-size: 20px;
    display: inline-block;
    padding-right: 35PX;
    text-decoration :underline #01022d solid;
    background-color: rgb(255, 255, 255);
    color: #01022d;
    border-radius: 50%;
}
header{
    width: 380px;
}
header .h{
    font-size: 45px;
}
header input{
    position: absolute;
    bottom: 5%;
    transition: .5s;
}
input:hover{
        cursor: pointer;
    border-color: white;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    font-size: 18px;
    position: absolute;
    bottom: 5%;
}

}